<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenida</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Logo" class="logo-img">
    <h2 class="app-title">¡Bienvenido, {{ username }}!</h2>
  </div>
  
  <p>Te felicitamos por dar el primer paso hacia una vida saludable. ¡Sigue adelante y alcanza tus metas!</p>
</ion-content>